<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/campgrounds" <%- title === 'All Movies' ? 'class="active"' : '' %>>ALL CAMPGROUNDS</a> | 
      <% if (user) { %>
        <a href="/campgrounds/new"	<%- title === 'Add Campground' ? 'class="active"' : '' %>>
        ADD CAMPGROUND</a>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </nav>
    <h1><%= title %></h1>