<%- include('./partials/header') %>

<div class="homepage">
    <h1><%= title %></h1>

    <p>Tracking your personal thoughts on the campgrounds you visit</p>
  </div>

<%- include('./partials/footer') %>