:root {
  --orange: #ffa800;
  --green: #123829;
  --dark-orange: #2e2d23;
}

* {
  box-sizing: border-box;
  font-family: "Advent Pro", sans-serif;
  font-family: "Titillium Web", sans-serif;
  color: var(--green);
}

body {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "main"
    "footer";
  background-image: url(https://images.pexels.com/photos/40896/larch-conifer-cone-branch-tree-40896.jpeg);

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-size: 1.5rem;
  overflow-y: scroll;
  padding: 2em;
}

main {
  grid-area: main;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}

nav {
  grid-area: nav;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--orange);
  font-weight: 400;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: var(--dark-orange);
  color: var(--orange);
  padding: 2em;
}

button {
  background-color: var(--orange);
  border-radius: 0.5em;
  border-width: 0.09em;
}
a {
  text-decoration: none;
  color: var(--green);
}

.bold {
  font-weight: 600;
}

.campground-form, .form-group {
  display: flex;
  flex-direction: column;
  background-color: rgba(228, 237, 213, 0.8);
  padding: 1em;
  margin: 1em;
  font-size: 1.5rem;
  min-width: 20em;
}

#form-btns {
display: flex;
justify-content: space-around;
margin-top: 1em;
}

.display {
  background-color: rgba(228, 237, 213, 0.8);
  margin: 1em;
  padding: 1em;
  font-size: 1.5rem;
  min-width: 20em;
}

#add-review-form {
  display: flex;
  flex-direction: column;
}
#add-review-form div {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#noteBtn {
  margin-top: 1em;
}

#no-reviews {
  background-color: rgba(228, 237, 213, 0.8);
  margin: 1em;
  margin-bottom: 2em;
}

.homepage {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2em;
}
table {
  font-size: 1.5rem;
  background-color: rgba(228, 237, 213, 0.8);
  padding: 2em;
  margin: 5em;
}

table td,
table th {
  padding: 1em;
  text-align: center;
}


/* AVATAR */
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 3em;
  padding: 0.25em;
}
