:root {
  --orange: #ffa800;
  --green: #123829;
  --dark-orange: #2e2d23;
}

* {
  box-sizing: border-box;
  font-family: 'Advent Pro', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  color: var(--green)
}

body {
  display: grid;
  grid-template-areas: 
    "nav"
    "main"
    "main"
    "footer";
  background-image: url(https://images.pexels.com/photos/40896/larch-conifer-cone-branch-tree-40896.jpeg);

  background-size: cover;
  overflow-y: scroll;
  padding: 2em;
  
}

main {
  grid-area: main;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}

nav {
  grid-area: nav;
background-color: var(--orange);
display: flex;
justify-content: space-between;
align-items: center;
font-weight: 800;
}

nav #hover:hover {
  background-color: white;
  padding: .25em;
  border-radius: .7em;
  color: var(--green)
}

footer {
  position: fixed;
  bottom: 0; left: 0; right: 0;
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: var(--dark-orange);
  color: var(--orange);
  padding: 2em;
}

button {
  background-color: var(--orange);
  border-radius: .5em;
  border-width: .09em;
}
a {
  text-decoration: none;
  color: var(--green)
}

.display {
  background-color: rgba(228, 237, 213, .8);
  margin: 1em;
  padding: 1em;
}

/* FORMS */


table {
  font-size: 1.5rem;
  background-color: rgba(228, 237, 213, .8);
  padding: 2em;
  margin: 5em;
}

table td, table th {
  padding: 1em;
  text-align: center;
}

form {
  background-color: rgba(228, 237, 213, .8);
  min-width: 40vw;
  padding: 1em;
}


.form-btns {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.form-group button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-group button:hover {
  background-color: #45a049;
}


/* AVATAR */
.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 3em;
  padding: .25em;
} 